
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

 h2, h3{ 
    margin: 0;
}

header{
    padding: 30px;
    overflow: hidden;
}

header > #logo{ 
    width: 15em;
    float: left;
}

nav{
    float: right;
}

main{
    padding: 50px;
    overflow: hidden;
}

section{
    width: 70%;
    float: left;
}

article{
    padding: 30px 0;
    border-bottom: 1px solid #cccccc;
}

.icon{
    width: 5em;
    height: 5em;
}

article:last-child{
    border-bottom: 0;
}

aside{
    width: 30%;
    float: right;
    background-color: #fdd761;
    padding: 10px;
}

aside h3{
    background-color: #ff5353;
    color: #ffffff;
    padding: 10px;
}

aside a{
    color: #000000;
}

footer{
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}